.topnav{
    background-color:#5D97D1 ;
    width: 100%;
    padding: 30px;
}


.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav button {
  padding: 15px;
  margin: none;
}

.btn-navbar {
  color: red
}

ul {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

.nav-button {
  background-color: #0F2747;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #FFF;
  margin-right: 10px;
  margin-top: 15px
}

.nav-button-span {
  float: right;
  position: absolute; top: 0; right: 0;
  margin-right: 150px;
}